<div id="myModalMeeting" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Set up a meeting</h4>
      </div>
      <div class="modal-body">

  	    <%= form_tag(meeting_mail_path) do  %>
            <fieldset>
                    <div class="col-md-12 info">
                        <%= text_area_tag :message, nil, placeholder: "Message", class: "form-control" %>
                     </div>

                     <div class="col-md-6 info">
                      <div class="form_group">
                        <%= label_tag "Choose a day" %>
                         <%= text_field_tag 'day', nil, placeholder: '21, Nov', id: "datepicker", class: "form-control"  %>
                      </div>


                      <div class="form_group">
                          <%= label_tag "Choose and hour" %>
                       <%= time_field_tag "time", nil, id: "timepicker", class: "form-control" %>
                      </div>
                     </div>


                    <div class="col-md-12">
                      <%= submit_tag "Send", class: "btn btn-primary" %>
                    </div>
            </fieldset>
        <% end %>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>	

<script>

$(function() {
    // $('#datepicker').datepicker({dateFormat: 'HH:mm:ss', minDate: 1})
  });

</script>