<nav class="navbar navbar-inverse" >
					<%= render partial: "shared/meeting_request.html.erb" %>
					<!-- Modal -->
					<%= render partial: 'layouts/sign_up_modal' %>

					<!-- Modal -->
					<%= render partial: 'layouts/log_in_modal' %>
		 <div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="#">Vidal</a>
		    </div>

		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav">
		      	<% if logged_in? %>
		      		<li><%= link_to "Profile", current_user %></li>

		      	<% else %>
			        <li><%= link_to "Home", root_path %></li>
			        <li><%= link_to 'About Us', about_path %></li>
	
		      	<% end %>
		        <li><%= link_to 'Fabrics', fabrics_path %></li>
		        <li><%= link_to 'Contact', contact_path %></li>
		        <% if logged_in? %>
		        	<li> <%= link_to 'Collection', collection_path %> </li>
		        <% end %>
		      </ul>
		      
		      <ul class="nav navbar-nav navbar-right">
		        <% if logged_in? %>
		        	<li>
		        		<%= render partial: 'shared/cart', data: {toggle: "modal"} %>
		        	</li>
			        <li>
			        	<%= link_to "Log out", logout_path, method: :delete, data: {target: "#myModalLogout", toggle: "modal"} %>
			        </li>
		        <% else  %>
		        	<li>
			        	<a href="#" data-toggle="modal" data-target="#myModalSignin">Sign in</a>
			        </li>
			        <li style="color:white; padding-top:15px">|</li>
			        <li>
			        	<a href="#" data-toggle="modal" data-target="#myModalLogin">Log in</a>
			        </li>
			        <li>
			        	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			        </li>
		        <% end %>
		      </ul>
		    </div><!-- /.navbar-collapse -->
		 </div><!-- /.container-fluid -->
	</nav>